*{
    border:0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --hue: 233;
    --bg: hsl(var(--hue),10%,100%);
    --fg: hsl(var(--hue),10%,0%);
    --primary: hsl(var(--hue),90%,55%);
    --primaryT: hsla(var(--hue),90%,55%,0);
    --transDur: 0.3s;
    font-size: calc(16px + (32 - 16) * (100vw - 320px)/(1280 - 320));
}

html,
body {
    background-color: var(--bg);
}
body,
input {
    font: 1em/1.5 Fredoka, sans-serif;
}
body {
    color: var(--fg);
    height: 100vh;
    display: grid;
    place-items: center;
}


.theme{
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}
.theme__fill,
.theme__icon {
    transform: transform var(--transDur) ease-in-out;
}

.theme__fill{
    background-color: var(--bg);
    display: block;
    mix-blend-mode: difference;
    position: fixed;
    inset: 0;
    height: 100%;
    transform: translate(-100%);
}
.theme__icon,
.theme__toggle {
    z-index: 1;
}

.theme__icon,
.theme__icon-part {
    position: absolute;
}
.theme__icon {
    display: block;
    top: 0.75em;
    left: 0.75em;
    width: 1.5em;
    height: 1.5em;
}
.theme__icon-part {
    border-radius: 50%;
    box-shadow: 0.4em -0.4em 0 o.5em hsl(0,0%,100%) inset;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    width: 1em;
    height: 1em;
    transition:
        box-shadow var(--transDur) ease-in-out,
        opacity var(--transDur) ease-in-out,
        transform var()
}